fieldset { width: 600px;
    height:300px;
    margin: auto;
    margin-top:9.3rem;
    background-color: lightgray;
    text-transform: uppercase;}

legend  {font-style: oblique; color: rgb(6, 6, 7);
 text-shadow: 4px 8px 13px;}
form {text-align: center;}
label #name {display: inline-block;
      margin-top:45px;}
label #email {display: inline-block;
      margin-top:45px;}
button      {margin-top:30px;
     background-color:green;
     width:50px;}

button:hover {border-style:inset;}